
<div class="container">
<h1>Mix and match</h1>
  <ul>
    <% @mixandmatch.attributions.each do |attribution| %>
    <li><%= attribution.player.pseudo %> - <%= attribution.task.name  %> </li>
    <% end %>
  </ul>
</div>

