<div class="container">
  <h4>Ajoutez une tâche :</h4>
  <%= simple_form_for(@task) do |f| %>
    <div class="form-inputs">
      <%= f.input :name, required: true, :label => "Intitulé", :placeholder => "Sortir les poubelles" %>
      <%#= f.input :repeatable, as: :radio_buttons %>
    </div>
    <div class="form-actions rightcontentformanditems">
      <%= f.button :submit, "Ajouter", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<div>
</div>


