<div class="container">
  <h4>New task</h4>
  <%= simple_form_for(@task) do |f| %>
    <div class="form-inputs">
      <%= f.input :name, required: true %>
      <%#= f.input :repeatable, as: :radio_buttons %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<div>
</div>


