<div>
  <div class="banner">
    <div class="container">
      <!-- <h1>Bienvenue sur MixAndMatch</h1> -->

    <div class="d-inline-flex">
      <div class="disclaimer">
        <h1>Avec MixAndMatch, répartissez aléatoirement
        les tâches entre les membres de votre équipe
        ou de votre famille.</h1>
      </div>
      <div class="picture">
        <%= image_tag "dices.png", class: "dice-image" %>
      </div>
    </div>

    </div>
      <div class="container cta">
        <% if user_signed_in? %>
          <%= link_to "Démarrer", tasks_path, class: "btn btn-success" %>
        <% else %>
          <%= link_to "Inscrivez-vous", new_user_registration_path, class: "btn btn-success" %>
        <% end %>
      </div>
  </div>

<div class="container">
  <div class="explanations">
      <h4>Comment ça marche ?</h4>
      <h5>En manque d'inspiration pour attribuer les tâches au sein de votre équipe ou de votre famille ?</h5>
      <h5>Suivez nos trois étapes très simples : </h5>

  </div>
</div>

<div class="container">
  <div class="cardscontainer d-inline-flex justify-content-around">

<% if user_signed_in? %>

    <div class="card">
      <a href="/tasks">
        <div>
          <i class="fas fa-tasks"></i>
          <h2>1 - Listez les tâches</h2>
          <p>Définissez les tâches à accomplir par l'équipe</p>
        </div>
      </a>
    </div>

<% else %>

    <div class="card">
      <a href="/users/sign_in">
        <div>
          <i class="fas fa-tasks"></i>
          <h2>1 - Listez les tâches</h2>
          <p>Définissez les tâches à accomplir par l'équipe</p>
        </div>
      </a>
    </div>

<% end %>

    <div class="card">
      <div>
        <i class="fas fa-user-friends"></i>
        <h2>2 - Créez votre équipe</h2>
        <p>Saisissez les pseudo des membres de votre équipe</p>
      </div>
    </div>
    <div class="card">
      <div>
        <i class="fas fa-hat-wizard"></i>
        <h2>3 - Laissez nous faire !</h2>
        <p>Notre algorithme vous surprendra par sa puissance</p>
      </div>
    </div>
  </div>
</div>

