<div class="container">
  <h1>task attribution</h1>
  <%@tasks.shuffle.each do |task|  %>
    <ul>
      <li><%= task.name %> : <strong><%= @players.sample.pseudo.capitalize %></strong></li>
    </ul>
  <% end %>
  <div>
    <input type="button" class="btn btn-primary" value = "Re-mix&match" onclick="history.go(0)" />
  </div>
  <div>
    <%= link_to "New task / players' list", new_player_path %>
  </div>
</div>
