<div class="container">
  <h1>task attribution</h1>
  <%@tasks.shuffle.each do |task|  %>
    <ul>
      <li><%= task.name %> attribuée à <%= @players.sample.pseudo %></li>
    </ul>
  <% end %>
<%= link_to "recommencer", new_player_path %>

</div>
