<div class="container">
  <% if @players.count == 0 %>
    <h1>Players list is empty</h1>
  <% else %>
    <h1>Players list</h1>
    <ul>
    <% @players.each do |player| %>
    <li><%= player.pseudo %> - <%= link_to "delete", player_path(player), method: :delete %> <%#= link_to "edit skills", new_skill_path(player)%></li>
    <% end %>
    </ul>
  <% end %>
</div>
