<div class="container">
  <h4>Créez votre équipe :</h4>
  <%= simple_form_for(@player) do |f| %>
    <div class="inline-form">
      <%= f.input :pseudo, :label => "Nom", :placeholder => "John Doe" %>
    </div>
    <div class="form-actions rightcontentformanditems">
      <%= f.button :submit, "Ajouter", class: "btn btn-primary" %>
    </div>
  <% end %>
