.cardscontainer {
  margin: 3em 0em;
  width: 100%;
}

.cardgrid {
  display:grid;
  grid-template-columns: 3fr 1fr 3fr;
  grid-gap: 10px;
}

.finalcardscontainer {
  padding: 2em;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: fit-content;
  width: 100%;
  margin-bottom: 2em;
}
.card {
  // overflow: hidden;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
  width: 30%;
  padding:1em;
  border-radius: 10%;
  h2 {
    font-size: 1.5em;
  }
  i {
    font-size: 5em;
    margin: 0.5em 0em;
  }
  a {
    color: black;
    text-decoration: none;
    opacity: 0.8;
    &:hover
    {
      opacity: 0.6;
    }
  }
}
.chemindefer {
  // margin: 0em auto;
  width: 30%;
}

.smallcard {
  // overflow: hidden;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
  justify-content:center;
  width: 5em;
  height: 5em;
  padding:0.5em;
  border-radius: 50%;
  h2 {
    font-size: 1em;
  }
  i {
    font-size: 2em;
    margin: 0.5em 0em;
  }
}

.very {
  width: 3em;
  height: 3em;
  padding:0em;
  i {
  font-size: 1.5em;
  margin: 0.5em 0em;
  }
}

.arrow {
  margin: 0em auto;
  margin-top: 2em;
}


.active {
  background-color: #007BFF;
  color: white;
}

.inactive {
  background-color: #FFFFFF;
}

.itemslist {
  padding: 2em;
  margin-left:3em;
  width: 60%;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  min-height: 1em;
  border-radius: 2px;
  margin-bottom:2em;
}

.players {
  min-height: 1em;
  margin-bottom: 3em;
}

.taskcard-color {
  width:1em;
  background-color: #4A144B;
}

.taskcard-color-player {
  width:1em;
  background-color: orange;
}

.taskcard {
  width: 100%;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: left;
  border-radius: 3px;
  margin-top: 2em;
  display: flex;
}

.taskcard-content {
  display: flex;
  padding:1em;
  width: 100%;
  justify-content: space-between;
}
