.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 4em;
  padding: 0px 5em;
  color: rgba(0,0,0,0.3);
}

.content-wrapper {
  min-height: calc(100vh - 54px - 68px);
}
