
.left-form {
  width: 30%;
  // margin-top:10em;
  padding: 2em;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: fit-content;
  // position: fixed;
}

.formflex {
  justify-content: space-around;
  align-items: center;
  padding-top: 10em;
}

.formflex i {
  font-size: 16em;
  color:#007BFF
}

.formanditems {
display: flex;
}

.centercontentformanditems {
  text-align: center;
  // margin-top: 2em;
  // margin-bottom: 2em;

}

.rightcontentformanditems {
  text-align: right;
  // margin-top: 2em;
  // margin-bottom: 2em;
  ul {
    padding-left:0em;
  }
}

.buttonright {
  text-align: right;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 2em;
  margin-left:3em;
  width: 60%;
}

.blank {
  box-shadow: 0 0 15px transparent;
}

.fabutton {
  background: none;
  padding: 0px;
  border: none;
  outline: inherit;
  &:focus {outline:0;}
}

.blue {
  color: #007BFF;
}
