.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.btn-white {
  color: #007BFF;
  margin-left: 1em;
  border-color: #D1E5FF;
  border: 1px solid white;
  border-radius: 4px;
  a {
    color: white;
  }
}

.inverted {
  background-color: white;
  color: #007BFF;
  border-bottom: 1px solid #007BFF
}
