h1 {
  font-family: 'Baloo Thambi 2', 'cursive';
  font-size: 4em;
}

body {
  background-color: #FFFFFF;
}

h5, p {
  opacity: 0.8;
}

.banner {
   background-color: #007BFF;
   height: auto;
  }

.banner h4 {
  font-size: 3em;
  color: white;
}

.banner .btn {
  font-size: 1.5em;
  color: white;
  margin-right: 2em;
  margin-bottom: 4em;
}

.banner .cta {
  text-align: right;

}

.banner .disclaimer {
  padding-top: 10em;
  padding-bottom: 5em;
  color: white;
  width: 70%;
}

.explanations {
  h4 {
  font-size: 3em;
  margin-top: 1em;
  }
}
